.header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  &__left  {
    width: 250px;
    text-align: right;
    margin-right: 5%;
    flex: 1 1 20%;
  }
  &__left > img {
    height: 50px;
  }
  &__searchBar {
    display: flex;
    align-items: center;
    &__input {
      width: 200px;
      border: 1px solid #ccc;
      padding: .2rem;
      &::placeholder {
        text-align: center;
        color: #ccc;
      }
      &:focus::placeholder {
        text-align: left;
      }
    }    
  }
  &__iconsOption {
    display: flex;
    align-items: center;
    width: 250px;
    flex: 1 1 20%;
    margin-left: 5%;


  }
}
.iconOption{
  &__icon, .iconOption__avatar {
  cursor: pointer;
  margin-left: 10px;
  } 
  &__avatar > img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }
  &:nth-child(2) {
    transform: rotate(-25deg) translateX(2px) translateY(-2px);
  }
}
